
/* picker */
.color-picker {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    z-index: 1000;
    position: absolute;
    width: 550%;
    left: 65px;
    top: 10px;
}

.color-picker > div {
    width: 40px;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
}


.color-picker > div:hover {
    opacity: 1;
}

.color-picker::after {
    content: '';
    top: 2%;
    left: 0%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -21px;
    transform: rotate(135deg);
    -webkit-transform: rotate(90deg);

}

